<app-menu></app-menu>
<div class="container">

  <h2>Carrito</h2>
  <table class="table">
      <thead>
          <tr>
              <th scope="col">Nombre</th>
              <th scope="col" >Precio</th>
             
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let carrito of Carrito">
          
          <td>{{carrito.nombre}} </td>
          <td>${{carrito.precio}}</td>
          <td>{{carrito.id_carrito}}</td>
          
          <td><i type="button" (click)="deleteFromCarrito(carrito.id_carrito)" class="bi bi-x-square-fill md-12"></i></td>
          </tr>
      </tbody>
  </table>
  <hr>

    <h2>Total: ${{total}}  </h2> 
    <button  type= "button" class="btn btn-success">Pagar</button>
    
</div>
    
    
