
<app-menu></app-menu>
<div class="container">
    <div class="row vh-100 justify-content-center align-items-center">
        <div class="col-auto bg-light p-5">
            
        <div class="col-md-3">
            <h1 class="text-center">Modificar Producto</h1>
            

        </div>
        
       
            <form>
            
              
                <div class="input-group p-2">
                    <input [(ngModel)]="Pokemon.nombre" class="form-control" type="text" id="nombre" name="nombre" placeholder="{{Pokemon.nombre}}">
                </div>
                <div class="input-group p-2">
                    <input [(ngModel)]="Pokemon.descripcion" class="form-control" type="text" id="descripcion" name="descripcion" placeholder="{{Pokemon.descripcion}}">
                </div>
                <div class="input-group p-2">
                    <input [(ngModel)]="Pokemon.precio" class="form-control" type="text" id="precio" name="precio" placeholder="{{Pokemon.precio}}">
                </div>
               
            
               
                <button (click)="modificarPokemon()" class="btn btn-primary">Modificar</button>
            </form>